@using System.Globalization
@using System.Text.Json
@using System.Text.Json.Serialization
@model feat.web.Models.Course
@{
  TextInfo ti = CultureInfo.CurrentCulture.TextInfo;
}
<div class="govuk-summary-card" data-category="A Level">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          @Model.CourseName <a class="card-link" href="#" style="margin-right: 10px;"></a>
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="@(!string.IsNullOrEmpty(Model.Website) ? Model.Website : "#")">View course<span class="govuk-visually-hidden"> @Model.CourseName</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Requirements
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.EntryRequirements
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Distance
            </dt>
            <dd class="govuk-summary-list__value">
              @if (Model.Distance.HasValue)
              {
                <p>
                  @Model.Distance.Value.ToString(Model.Distance.Value % 1 == 0 ? "N0" : "N1", CultureInfo.InvariantCulture) miles
                </p>
              }
              else
              {
                <p>
                  Not Applicable
                </p>
              }
              <p>
                @ti.ToTitleCase(Model.ProviderName.ToLower())<br/>
                @if (Model.ProviderName.ToLower() != Model.Location?.ToLower())
                {
                  @Model.Location<br/>
                }
                @Model.Town<br/>
                @Model.Postcode
              </p>
            </dd>
          </div>
        <!--
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course type
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--orange" style="margin-bottom: 10px;">
              @Model.CourseType
            </strong>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What is an @Model.CourseType?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>Lorem Ipsum</p>
              </div>
            </details>
          </dd>
        </div>
        -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              @if (Model.StartDate.HasValue && Model.StartDate > DateTimeOffset.MinValue && Model.StartDate != new DateTime(1900, 1, 1))
              {
                @Model.StartDate.Value.LocalDateTime.ToString("d MMMM yyyy")
              }
              else
              {
                <text>Unknown</text>
              }
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.Duration
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery Mode
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.DeliveryMode
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Study Mode
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.StudyMode
            </dd>
          </div>
          <!-- @Json.Serialize(Model) -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who is this course for?
            </dt>
            <dd class="govuk-summary-list__value">
              @Model.WhoThisCourseIsFor
            </dd>
          </div>
        </dl>
        
        
        
      </div>
    </div>