@page "{id}"
@using feat.web.Models
@using feat.web.Utils
@model feat.web.Pages.DetailsUniversityDegreeModel

@section BeforeContent {
  <govuk-back-link href="javascript:history.back()">Back</govuk-back-link> 
}

@if (Model.UniversityCourseDetails != null)
{
  <h2>@(Model.UniversityCourseDetails.Title + " "+ Model.UniversityCourseDetails.TypeDisplay)</h2>
  
  <!-- University Degree -->
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"></div>

        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                About the course
              </h2>
            </div>

            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Qualification type</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.TypeDisplay</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Level</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.Level</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Entry requirements</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.EntryRequirements</dd>
                  <!--Two A Levels and one relevant vocational qualification-->
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Tuition fee</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.TuitionFeeDisplay</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Awarding organisation</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.University</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Course description</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.Description</dd>
                </div>
              </dl>
            </div>
          </div>

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Location</h2>
            </div>

            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">University</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.University</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Model.UniversityCourseDetails.UniversityUrl">View website<span class="govuk-visually-hidden"> name (Location)</span></a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                  <dt class="govuk-summary-list__key">Campus name</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.CampusName</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Campus address</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.CampusAddress</dd>
                  <dd class="govuk-summary-list__actions">
                    <!-- Campus URL-->
                    <a class="govuk-link" href="#">View on a map<span class="govuk-visually-hidden"> name (Location)</span></a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Course details</h2>
            </div>

            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Delivery method</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.DeliveryModeDisplay</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Start date</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.StartDate?.Display</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Duration</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.DurationDisplay</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Hours</dt>
                  <dd class="govuk-summary-list__value">@Model.UniversityCourseDetails.HoursDisplay</dd>
                </div>

              </dl>
            </div>
          </div>

          <!--TODO-->
          <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
            Go to course
          </button>

          <p>The information we show you about a course comes from the provider. If you want to know more about a course visit their website. You can also email or call them if you have any questions or want to discuss your options.</p>
        </div>

        <!-- On the Right side - 1/3 width -->
        <div class="govuk-grid-column-one-third">
          <div class="x-govuk-related-navigation">
            <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">

              <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Related links</h2>
              <ul class="x-govuk-related-navigation__link-list">
                <li class="x-govuk-related-navigation__link">
                  <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
                </li>
                <li class="x-govuk-related-navigation__link">
                  <a class="govuk-link x-govuk-related-navigation__section-link" asp-page="./AboutDegrees">More information about Degrees</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
  </div>
}
else
{
  <div class="govuk-width-container">
    <main>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Unable to find course @(string.IsNullOrEmpty(Model.CourseId) ? string.Empty : Model.CourseId) 
              </h2>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>     
}


