@page "{id}"
@using feat.web.Models
@using feat.web.Utils
@model feat.web.Pages.DetailsCourseModel

@{
    
}
@section BeforeContent {
  <govuk-back-link href="@Url.Page(Model.Search.GetBackPage(PageName.DetailsCourse))">Back</govuk-back-link>
}

@if (Model.CourseDetails != null)
{
  <h2>@(Model.CourseDetails.Title + " "+ Model.CourseDetails.TypeDisplay)</h2>

  <!-- Course based on Beta v8-->
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full"></div>

        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                About the course
              </h2>
            </div>

            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Course type</dt>
                  <dd class="govuk-summary-list__value">@Model.CourseDetails.TypeDisplay</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Level</dt>
                  <dd class="govuk-summary-list__value">@Model.CourseDetails.Level</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Entry requirements</dt>
                  <dd class="govuk-summary-list__value">@Model.CourseDetails.EntryRequirements</dd>
                </div>

                @(Model.CourseDetails.CostDisplay.Length>1){}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Cost</dt>
                  <dd class="govuk-summary-list__value">@Model.CourseDetails.CostDisplay</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Course overview</dt>
                  <dd class="govuk-summary-list__value">
                    @Model.CourseDetails.Description
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <!-- Second Card -->
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Location</h2>
            </div>
            @{
              bool hasAddresses = false;
              string displayProviderName = string.Empty;
              string? displayProviderFirstAddress = string.Empty;
              if (!string.IsNullOrEmpty(Model.CourseDetails.ProviderName))
              {
                displayProviderName = Model.CourseDetails.ProviderName;
              }
              if (Model.CourseDetails.ProviderAddresses != null)
              {
                if (Model.CourseDetails.ProviderAddresses.Count > 1)
                {
                  hasAddresses = true;
                }
                displayProviderFirstAddress = Model.CourseDetails.ProviderAddresses.FirstOrDefault()?.Display;
              }
              string displayNameAndAddress = $"{displayProviderName} ({displayProviderFirstAddress})";
            }
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Provider</dt>
                  <dd class="govuk-summary-list__value">@displayProviderName</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">View website<span class="govuk-visually-hidden">@displayNameAndAddress</span></a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Provider location</dt>
                  <dd class="govuk-summary-list__value">
                  @if (hasAddresses)
                  {
                    var firstLocation = Model.CourseDetails.ProviderAddresses?.First();
                    var iCount = Model.CourseDetails.ProviderAddresses?.Count; // will be 2 or more.
                    bool isFirst = true;
                    
                    <p>@firstLocation?.Display</p>
                    
                    <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        @{
                            var sPlural = iCount > 2 ? "s are" : " is";
                            <span class="govuk-details__summary-text">@($"{iCount - 1} other location{sPlural} available")</span>
                          }
                      </summary>
                      <div class="govuk-details__text">
                        @foreach (var location in Model.CourseDetails.ProviderAddresses)
                        {
                          if (!isFirst) // Ignore the first record
                          {
                            <p>@location.Display</p>
                          }
                          isFirst = false;
                        }
                      </div>
                    </details>
                  }
                  else
                  {
                    <p>@displayProviderFirstAddress</p>
                  }
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">View on a map<span class="govuk-visually-hidden">@displayNameAndAddress</span></a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Course details</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                @{
                  bool hasMultiStartDates = false;
                  string? displayStartDate = string.Empty;
                  if (Model.CourseDetails.StartDates != null)
                  {
                    if (Model.CourseDetails.StartDates.Count > 1)
                      hasMultiStartDates = true;
                    else
                      displayStartDate = Model.CourseDetails.StartDates.FirstOrDefault()?.Display;
                  }
                }
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Delivery method</dt>
                  <dd class="govuk-summary-list__value">@Model.CourseDetails.DeliveryModeDisplay</dd>
                </div>
                @if (hasMultiStartDates)
                {
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Start dates</dt>
                    <dd class="govuk-summary-list__value">
                      @if (Model.CourseDetails.StartDates != null)
                      {
                        foreach (var startDate in Model.CourseDetails.StartDates)
                        {
                          <p>@startDate.Display</p>
                        }
                      }
                    </dd>
                  </div>
                }
                else
                {
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Start date</dt>
                    <dd class="govuk-summary-list__value">@displayStartDate</dd>
                  </div>
                }

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Duration</dt>
                  <dd class="govuk-summary-list__value">@Model.CourseDetails.DurationDisplay</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Hours</dt>
                  <dd class="govuk-summary-list__value">@Model.CourseDetails.HoursDisplay</dd>
                </div>

              </dl>
            </div>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
            Go to course
          </button>
          <p>The details we show you comes from the provider. There may be extra information on their website. You can also email or call them if you have any questions or want to discuss your options. </p>

        </div>

        <!-- On the Right side - 1/3 width -->
        <div class="govuk-grid-column-one-third">
          <div class="x-govuk-related-navigation">
            <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">

              <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Related links</h2>
              <ul class="x-govuk-related-navigation__link-list">
                <li class="x-govuk-related-navigation__link">
                  <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
                </li>
                <li class="x-govuk-related-navigation__link">
                  <a asp-page="/AboutALevels" class="govuk-link x-govuk-related-navigation__section-link">More information about A Levels</a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </main>
  </div>
}
else
{
  <div class="govuk-width-container">
    <main>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Unable to find course @(string.IsNullOrEmpty(Model.CourseId) ? string.Empty : Model.CourseId) 
              </h2>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
}
