@page
@using feat.web.Enums
@using feat.web.Extensions
@using feat.web.Models
@using feat.web.Utils
@model InterestsModel
@{
    ViewBag.Title = "Explore your options after school or college - GOV.UK";
}

@section BeforeContent {
    <govuk-back-link href="@Url.Page(Model.Search.GetBackPage(PageName.Interests))">Back</govuk-back-link>
}

<h1 class="govuk-heading-l">What courses, subjects, jobs, or careers are you interested in?</h1>
<p class="govuk-body">Be as specific or broad as you like. You can try searching for academic subjects, practical skills, or just start from an idea of what you'd like to do.</p>
<p>For example:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>maths</li>
    <li>bricklaying</li>
    <li>working with animals</li>
</ul>
<p>If you skip this question, the search results will be everything in your chosen location.</p>

<!-- Interests-->
<form method="post" >
    
    <fieldset class="govuk-fieldset moj-add-another__item">
        <div class="govuk-form-group">
            
            <govuk-input input-class="govuk-input--width-20" spellcheck="true" for="UserInterest1"
                         id="UserInterests1"
                         value="@(Model.UserInterest1)">
                <govuk-input-label class="govuk-heading-m">
                    Interest 1 @(Model.FirstOptionMandatory ? string.Empty : "(optional)" )
                </govuk-input-label>
            </govuk-input>
            <govuk-input input-class="govuk-input--width-20" spellcheck="true" for="UserInterest2"  
                         id="UserInterests2"
                         value="@(Model.UserInterest2)">
                <govuk-input-label class="govuk-heading-m">
                    Interest 2 (optional)
                </govuk-input-label>
            </govuk-input>
            <govuk-input input-class="govuk-input--width-20" spellcheck="true" for="UserInterest3"  
                         id="UserInterests3"
                         value="@(Model.UserInterest3)">
                <govuk-input-label class="govuk-heading-m">
                    Interest 3 (optional)
                </govuk-input-label>
            </govuk-input>
            
        </div>
    </fieldset>
    <div class="govuk-button-group">
        <govuk-button type="submit">Continue</govuk-button>
    </div>
</form>
