@page
@using feat.common.Models.Enums
@using feat.web.Models
@using feat.web.Enums
@using feat.web.Utils
@model feat.web.Pages.LoadCoursesModel

@section BeforeContent {
  
}

@{
  ViewBag.Title = "Explore your options after school or college - GOV.UK";

  string searchResultText = "Showing courses";
  try
  {
    var totalResults = Model.TotalCourseCount;
    var pluralText = (totalResults == 1 ? String.Empty : "s");
    string locationText = string.IsNullOrEmpty(Model.Search.Location)?"near your area": " near " + Model.Search.Location;
    string interestText = Model.Search.Interests.Count > 0 ? $" for {Model.Search.Interests[0]}" : string.Empty;
    
    searchResultText = $"Showing {totalResults} course{pluralText} {locationText} {interestText}";
  }
  catch (Exception e)
  {
    // ignored
  }
}

<div>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-grid-row">

        <!--Header section -->
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">Your search results</h1>
          <p class="govuk-body-l">@(searchResultText)</p>
          <p><a asp-page="@PageName.Location">Search again</a></p>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!--Filters-->
        <div class="govuk-grid-column-one-third">
          <!--<button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3 govuk-!-display-none-print" 
                      id="toggle-filters" type="button">
            Show filters
          </button>-->
          

          <div id="filter-panel" class="filter-container" > 
            <form method="post" asp-page-handler="UpdateSelection">
              <div class="filter-container">
                <div class="filter-search-terms">
                  <div class="filter-heading">
                    <h2 class="govuk-heading-m">Filter</h2>
                  </div>
                </div>

                <div class="filter-list">
                  @if (Model.AllFacets != null && Model.AllFacets.Count > 0)
                  {
                    int iFacetPosition = 0;

                    foreach (var curFacet in Model.AllFacets)
                    {
                      iFacetPosition++;
                      if (iFacetPosition == 2)
                      {
                        <!-- 2) Travel Distance (Drop down) ...-->
                        <div class="govuk-form-group">
                          <govuk-select for="SelectedTravelDistance">
                            <govuk-select-label>Travel Distance</govuk-select-label>
                            @foreach (var option in Enum.GetValues<Distance>())
                            {
                              <govuk-select-item selected="@(Model.SelectedTravelDistance == option)">@option.GetDisplayName()</govuk-select-item>
                            }
                          </govuk-select>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      }
                      
                      <!-- Render selectable checkboxes for supplied facets-->
                      <fieldset class="govuk-fieldset">
                        <govuk-checkboxes for="SelectedFilterFacetItems">
                          <govuk-checkboxes-fieldset>
                            <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--s">
                              @curFacet.Description
                            </govuk-checkboxes-fieldset-legend>
                            @{
                              int i = 0;
                              foreach (var facetValue in curFacet.Values)
                              {
                                var isTrue = facetValue.Value == 1L;

                                <govuk-checkboxes-item id="facetValue.Key+@(i)" class="govuk-checkboxes__item"
                                                       value="@(facetValue.Key)"
                                                       checked="@(isTrue)">
                                  @facetValue.Key
                                </govuk-checkboxes-item>
                                i++;
                              }
                            }
                          </govuk-checkboxes-fieldset>
                        </govuk-checkboxes>
                        <!--p class="govuk-body">
                        <a class="govuk-link" asp-page-handler="ClearFilter" >Clear filters</a>
                        </p-->
                      </fieldset>
                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    }
                  }
                  <br>
                  <button class="govuk-button" type="submit">Apply filters</button>
                  <p class="govuk-body">
                    <a class="govuk-link" asp-page-handler="ClearFilters" >Clear All filters</a>
                  </p>

                </div>
              </div>
            </form>
          </div>
        </div>
        
        @if (!Model.Courses.Any()) 
        {
          <h2 class="govuk-heading-m" role="status" aria-live="polite">It looks like we can’t find anything based on your answers.</h2>
          <p>Here are some things you can try:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>removing a filter</li>
            <li><a asp-page="@PageName.Interests">making your search broader</a></li>
            <li>increasing the distance or looking in a <a asp-page="@PageName.Location">different location</a></li>
          </ul>
        }
        else
        {
          <!-- Results & Pagination -->
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Available courses</h2>

            <!-- Sort Region-->
            <p class="govuk-body govuk-!-margin-bottom-6">
              <span class="govuk-!-font-weight-bold">Sort courses by:</span>
              <span class="govuk-!-margin-left-2">
                @{
                  if (Model.Search.OrderBy == OrderBy.Distance) 
                  {
                    <span aria-current="true">Distance | </span>
                    <a asp-page="@PageName.LoadCourses" asp-route-orderBy="relevance">Relevance</a>
                  }
                  else
                  {
                    <a asp-page="@PageName.LoadCourses" asp-route-orderBy="distance" >Distance</a>
                    <span aria-current="true">| Relevance</span>
                  } 
                }
              </span>
            </p>

            @foreach (var searchResult in Model.Courses) 
            {
              await Html.RenderPartialAsync("Partials/CourseV8", searchResult);
            }

            <!-- Pagination -->
            @if (Model.TotalPages > 1)
            {
              <nav class="govuk-pagination" aria-label="Pagination">
                @if (Model.HasPreviousPage)
                {
                  <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link"
                       asp-page="LoadCourses" asp-route-pageNumber="@(Model.PreviousPage)"
                       aria-label="Previous">
                      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" 
                           height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m6.5938-0.0088125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                      </svg>
                      <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span>
                    </a>
                  </div>
                }
                <ul class="govuk-pagination__list">
                  @foreach (var pageNumber in Model.GetPageNumbers())
                  {
                    @if (pageNumber == Model.CurrentPage)
                    {
                      <li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link"
                           aria-label=@($"Page {pageNumber}") aria-current="page">
                          @pageNumber
                        </a><span></span>
                      </li>
                    }
                    else
                    {
                      <li class="govuk-pagination__item ">
                        <a class="govuk-link govuk-pagination__link"
                           asp-page="" asp-route-pageNumber="@pageNumber"
                           aria-label=@($"Page {pageNumber}")>
                          @pageNumber
                        </a>
                      </li>
                    }
                  }
                </ul>

                @if (Model.HasNextPage)
                {
                  <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link"
                       asp-page="LoadCourses" asp-route-pageNumber="@Model.NextPage"
                       rel="next">
                      <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
                      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" 
                           height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m8.108-0.0088125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                      </svg>
                    </a>
                  </div>
                }
              </nav>
            }
          </div>
        }
      </div>

    </main>
  </div>
</div>
