@page
@using feat.common.Models.Enums
@using feat.web.Models
@using feat.web.Enums
@model feat.web.Pages.LoadCoursesModel
@{
  ViewBag.Title = "Explore your options after school or college - GOV.UK";

  string searchResultText = "Showing courses";
  try
  {
    var totalResults = Model.SearchResponse?.TotalCount ?? 0;  
    var pluralText = (totalResults == 1 ? String.Empty : "s");
    string locationText = string.IsNullOrEmpty(Model.Search.Location)?"near your area": " near " + Model.Search.Location;
    string interestText = Model.Search.Interests.Count>0 ? $" for {Model.Search.Interests[0]}" : string.Empty;
    
    searchResultText = $"Showing {totalResults} course{pluralText} {locationText} {interestText}";
  }
  catch (Exception e)
  {
    Console.WriteLine(e);
  }
}

@section BeforeContent {
    <govuk-back-link href="@Url.Page(Model.Search.GetBackPage(PageName.LoadCourses))">Back</govuk-back-link>
}

<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Your search results</h1>
  <p class="govuk-body-l">@(searchResultText)</p>
  
  <p><a href="/Index">Search again</a></p>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
</div>

<!-- Below Original -->
<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"></h1>
  </div>

  <!-- Filters column -->
  <div class="govuk-grid-column-one-third">
    <div id="filter-panel" class="filter-container" > 
      @{
        //TODO: Use facets from search response to build filter selections
        
        List<Facet> allFacets = Model.SearchResponse?.Facets.ToList() ?? new List<Facet>();
      }
      
      <form method="get" ><!-- action="/08/load-courses" action="load-courses" -->
        <div class="filter-container">
          <div class="filter-search-terms">
            <div class="filter-heading">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>
          </div>

          <div class="filter-list"><!-- Filter list start -- ALL FILTERS -->
            <!--  Dynamically generate course type checkboxes from facets -->
            <!-- 1) Course type checkboxes -->
            
            <!-- 2) Travel Distance (Drop down)-->
            
            <!-- 3) Qualification level (checkboxes) level 1, level 2 etc... "Desriptions Where do the come from?"-->
            
            <!-- 4) Learning Method (online, class room, work based, Hybrid)-->
            
            
            @{ 
              <!-- 5) Course Hours - AttendancePattern : Full time, Parttime, Flexible  -->
              
              var CourseHours_DisplayName = "Course Hours *"; // get from somewhere if you want it dynamic.

              <fieldset class="govuk-fieldset">
                <!--
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><?>CourseHours_DisplayName</legend>
                -->
                <div class="govuk-checkboxes govuk-checkboxes--small">

                  <govuk-checkboxes for="SelectedCourseHours" > 
                    <govuk-checkboxes-fieldset>
                      <govuk-checkboxes-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--s">
                        @CourseHours_DisplayName
                      </govuk-checkboxes-fieldset-legend>
                      @{
                        int i = 0;
                        foreach (var attendancePattern in Enum.GetValues<AttendancePattern>())
                        {
                          var isTrue = Model.SelectedCourseHours.Contains(attendancePattern);

                          <govuk-checkboxes-item id="attendancePattern[@i]"
                                                 value="@(attendancePattern.ToString("G"))"
                                                 checked="@(isTrue)">
                            @attendancePattern.ToString() <!-- <>-attendancePattern.GetDisplayName();-->
                          </govuk-checkboxes-item>
                          i++;
                        }
                      }

                    </govuk-checkboxes-fieldset>
                  </govuk-checkboxes>
                </div>
              </fieldset>
              
              <!-- Clear filter-->
              <p style="margin-top: 10px;">
                <a asp-page-handler="ClearFilter" asp-route-filterNumber="CourseHours_DisplayName">Clear filter</a>
                <!--<a href="?">Clear filter</a>-->

              </p>
              <hr/>
            }
            
            <!-- 6) Course study time 'Daytime, Evening, Weekend -->
            
            
            
            @{
              //TODO when server has implemented this
              // Note: swap allFacets to use initial-cached facets; and use allFacets only to tick selected values.
              foreach (var facet in allFacets) 
              {
                string facetName = facet.Name.Trim();
                if (facetName.Equals("DATA_SOURCE", StringComparison.InvariantCultureIgnoreCase) || 
                    facetName.Equals("SECTOR", StringComparison.InvariantCultureIgnoreCase))
                  continue;

                var facetDisplayName = facetName.Replace("_", " ");
                  
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">@facetDisplayName</legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      
                      @{
                        int j = 0;

                        foreach (var facetValue in facet.Values)
                        {
                          var key = facetValue.Key;
                          if (key.Trim().Equals("nan", StringComparison.InvariantCultureIgnoreCase))
                          {
                            continue;
                          }
                          j++;
                          var valueLng = facetValue.Value;
                          var checkboxId = $"filter-{facetDisplayName}-{j}";
                          
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="@checkboxId" name="@facetDisplayName" type="checkbox"
                                   value="@facetValue.Value"
                                   checked="@(valueLng % 2 > 1 ? true : false)">
                            <label class="govuk-label govuk-checkboxes__label" for="@checkboxId">@facetValue.Key</label>
                          </div>
                        }
                      }
                    </div>
                    </fieldset>
                <!-- Clear filter-->
                <p style="margin-top: 10px;">
                  <a href="?">Clear filter</a>
                </p>
                <hr/>
              }
            }
            <!-- Outer code block-->
            
            <fieldset>
              <!-- Travel Distance dropdown from facets 
              <legend><>facetDisplayName</legend>
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Travel Distance</legend>-->
              <!--<div class="govuk-checkboxes govuk-checkboxes--small">-->
                <govuk-select for="SelectedTravelDistance">
                  <govuk-select-label>Travel Distance</govuk-select-label>
                  @foreach (var option in Enum.GetValues<Distance>())
                  {
                    <govuk-select-item selected="@(Model.SelectedTravelDistance == option)">@option.GetDisplayName()</govuk-select-item>
                  }
                </govuk-select>
              <!--</div>-->
            </fieldset>
              
            <!--  Hard courses course type checkboxes from facets -->
              <hr/>
              <h3> below is Hard coded</h3>
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Course type</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-A-Level" name="filter" type="checkbox" value="A Level" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-A-Level">A Level</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-Apprenticeship" name="filter" type="checkbox" value="Apprenticeship" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-Apprenticeship">Apprenticeship</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-BTEC" name="filter" type="checkbox" value="BTEC" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-BTEC">BTEC</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-Diploma" name="filter" type="checkbox" value="Diploma" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-Diploma">Diploma</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-Degree" name="filter" type="checkbox" value="Degree" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-Degree">Degree</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="filter-T-Level" name="filter" type="checkbox" value="T Level" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="filter-T-Level">T Level</label>
                </div>

              </div>
            </fieldset>

            <p style="margin-top: 10px;">
              <a href="?">Clear filter</a>
            </p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- End Course type checkboxes -->


            <!-- Travel distance dropdown -->
            <div class="govuk-form-group">
              <label class="govuk-label" for="travel-location">
                Travel distance
              </label>
              <select class="govuk-select" id="travel-location" name="travel-location">
                <option value="">Select a distance</option>
                <option value="2 miles">Up to 2 miles</option>
                <option value="5 miles">Up to 5 miles</option>
                <option value="10 miles" selected="">Up to 10 miles</option>
                <option value="15 miles">Up to 15 miles</option>
                <option value="30 miles">Up to 30 miles</option>
              </select>
            </div>
            <p style="margin-top: 10px;">
              <a href="?">Clear filter</a>
            </p>
            <!-- End Travel distance dropdown -->

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <!-- Qualification level checkboxes -->
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Qualification level</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-entry" name="qualification-level" type="checkbox" value="entry">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-entry">
                    Entry level (like entry level functional skills)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-level-1" name="qualification-level" type="checkbox" value="level-1">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-level-1">
                    Level 1 (like first certificate)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-level-2" name="qualification-level" type="checkbox" value="level-2">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-level-2">
                    Level 2 (like GCSEs)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-level-3" name="qualification-level" type="checkbox" value="level-3" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-level-3">
                    Level 3 (like A levels)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-level-4" name="qualification-level" type="checkbox" value="level-4" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-level-4">
                    Level 4 (like high national certificate)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-level-5" name="qualification-level" type="checkbox" value="level-5" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-level-5">
                    Level 5 (like diplomas)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-level-6" name="qualification-level" type="checkbox" value="level-6" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-level-6">
                    Level 6 (like degree)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="qualification-level-level-7" name="qualification-level" type="checkbox" value="level-7" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="qualification-level-level-7">
                    Level 7 (like masters degree)
                  </label>
                </div>

              </div>
            </fieldset>
            <!-- End fieldSet Qualification level checkboxes -->
            <p style="margin-top: 10px;">
              <a href="?">Clear filter</a>
            </p>
            <!-- End Qualification level checkboxes -->

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Learning method</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="learning-method-1" name="learning-method" type="checkbox" value="Online">
                  <label class="govuk-label govuk-checkboxes__label" for="learning-method-1">
                    Online
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="learning-method-2" name="learning-method" type="checkbox" value="Classroom based">
                  <label class="govuk-label govuk-checkboxes__label" for="learning-method-2">
                    Classroom based
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="learning-method-3" name="learning-method" type="checkbox" value="Work based">
                  <label class="govuk-label govuk-checkboxes__label" for="learning-method-3">
                    Work based
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="learning-method-4" name="learning-method" type="checkbox" value="Hybrid">
                  <label class="govuk-label govuk-checkboxes__label" for="learning-method-4">
                    Hybrid
                  </label>
                </div>
              </div>
            </fieldset>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Course hours</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="course-hours-1" name="course-hours" type="checkbox" value="Full time">
                  <label class="govuk-label govuk-checkboxes__label" for="course-hours-1">
                    Full time
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="course-hours-2" name="course-hours" type="checkbox" value="Part time">
                  <label class="govuk-label govuk-checkboxes__label" for="course-hours-2">
                    Part time
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="course-hours-3" name="course-hours" type="checkbox" value="Flexible">
                  <label class="govuk-label govuk-checkboxes__label" for="course-hours-3">
                    Flexible
                  </label>
                </div>

              </div>
            </fieldset>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Course study time</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="course-times-1" name="course-times" type="checkbox" value="Daytime">
                  <label class="govuk-label govuk-checkboxes__label" for="course-times-1">
                    Daytime
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="course-times-2" name="course-times" type="checkbox" value="Evening">
                  <label class="govuk-label govuk-checkboxes__label" for="course-times-2">
                    Evening
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="course-times-3" name="course-times" type="checkbox" value="Weekend">
                  <label class="govuk-label govuk-checkboxes__label" for="course-times-3">
                    Weekend
                  </label>
                </div>

              </div>
            </fieldset>
            <!-- End Filter list -->
            <br>
            <button class="govuk-button" type="submit">Apply filters</button>

            <p class="govuk-body">
              <a href="/08/load-courses" class="govuk-link" id="clear-all-link">Clear all filters</a>
            </p>

          </div>
        </div>
      </form>
    </div>
    </div>
  <!-- End Filters column -->

  
  <!-- Results column -->
  <div class="govuk-grid-column-two-thirds">
    <div id="active-filters">
      <h2 id="active-filters-heading" class="govuk-heading-m" style="display: none;">You've searched for:</h2>
      <div id="selected-filters" class="remove-filters"></div>
     
    </div>
    
    <!-- Top section above Courses -->
    <h2 class="govuk-heading-m">Available courses</h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      <span class="govuk-!-font-weight-bold">Sort courses by:</span>
      <span class="govuk-!-margin-left-2">
        <!--TODO Sorting 
        <span aria-current="true">Distance</span>
        <a class="govuk-link govuk-link--no-visited-state" 
           href="?page=1&amp;option-select-filter-location=&amp;subject-filter=&amp;travel-location=&amp;sort=relevance">Relevance</a>
        -->
        <a asp-page="./LoadCourses" asp-route-sortRelavance="distance" >Distance</a> | 
        <a asp-page="./LoadCourses" asp-route-sortRelevance="relevance" >Relavance</a>
      </span>
    </p>
    <!-- -->
    
    <div id="search-results">
      @foreach (Course course in Model.SearchResponse?.Courses)
      {
        await Html.RenderPartialAsync("Partials/CourseV8", course);
      }
      
      <!-- ARC today       -->
      <nav class="govuk-pagination" aria-label="Pagination">
        
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="?page=1&amp;filter=BTEC&amp;filter=Apprenticeship&amp;option-select-filter-location=Manchester&amp;subject-filter=art&amp;travel-location=30 miles&amp;sort=" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0088125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span>
          </a>
        </div>

        <ul class="govuk-pagination__list">

          <li class="govuk-pagination__item ">
            <a class="govuk-link govuk-pagination__link" href="?page=1&amp;filter=BTEC&amp;filter=Apprenticeship&amp;option-select-filter-location=Manchester&amp;subject-filter=art&amp;travel-location=30 miles&amp;sort=" aria-label="Page 1">
              1
            </a>
          </li>

          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="?page=2&amp;filter=BTEC&amp;filter=Apprenticeship&amp;option-select-filter-location=Manchester&amp;subject-filter=art&amp;travel-location=30 miles&amp;sort=" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>

          <li class="govuk-pagination__item ">
            <a class="govuk-link govuk-pagination__link" href="?page=3&amp;filter=BTEC&amp;filter=Apprenticeship&amp;option-select-filter-location=Manchester&amp;subject-filter=art&amp;travel-location=30 miles&amp;sort=" aria-label="Page 3">
              3
            </a>
          </li>

        </ul>


        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="?page=3&amp;filter=BTEC&amp;filter=Apprenticeship&amp;option-select-filter-location=Manchester&amp;subject-filter=art&amp;travel-location=30 miles&amp;sort=" rel="next">
            <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.108-0.0088125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>


      </nav>
      <!-- -->
      
    </div>
  </div>
  <!-- End Results column -->
</div>