@using feat.web.Utils
@model feat.web.Models.ViewModels.CourseDetailsCourse

<div class="govuk-width-container local_top_spacing" >
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"></div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">About the course</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Course type</dt>
                <dd class="govuk-summary-list__value">@Model.CourseTypeDisplay</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Level</dt>
                <dd class="govuk-summary-list__value">@Model.LevelDisplay</dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Entry requirements</dt>
                <dd class="govuk-summary-list__value">
                  @(string.IsNullOrEmpty(Model.EntryRequirements) ? SharedStrings.NotProvided : Model.EntryRequirements)
                </dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Cost</dt>
                <dd class="govuk-summary-list__value">@Model.CostDisplay</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Course overview</dt>
                <dd class="govuk-summary-list__value">
                  @(string.IsNullOrEmpty(Model.Description) ? "You need to visit the provider website for information about this course." : Model.Description)
                </dd>
              </div>
            </dl>
          </div>
        </div>
        
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Location</h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Provider</dt>
                <dd class="govuk-summary-list__value">@Model.ProviderName</dd>
                <dd class="govuk-summary-list__actions">
                  @if (!string.IsNullOrEmpty(Model.ProviderUrl))
                  {
                    <a class="govuk-link" href="@(Model.ProviderUrl)">View website
                      <span class="govuk-visually-hidden">@(Model.ProviderName + "(" + Model.ProviderAddresses?.FirstOrDefault()?.Display + ")")</span>
                    </a>
                  }
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Provider location</dt>
                <dd class="govuk-summary-list__value">
                  @Model.ProviderAddresses?.FirstOrDefault()?.Display
                </dd>
                <dd class="govuk-summary-list__actions">
                  @if (!string.IsNullOrEmpty(Model.ProviderAddresses?.FirstOrDefault()?.MapLocationUrl))
                  {
                    <a class="govuk-link" href="@Model.ProviderAddresses?.FirstOrDefault()?.MapLocationUrl">View on a map
                      <span class="govuk-visually-hidden">@(Model.ProviderName + "(" + Model.ProviderAddresses?.FirstOrDefault()?.Display + ")")</span>
                    </a>
                  }
                </dd>
              </div>
            </dl>
            @if (Model.ProviderAddresses?.Count > 1)
            {
              var addressesCount = Model.ProviderAddresses?.Count;
              var isFirst = true;

              <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  @{
                    var sPlural = addressesCount > 2 ? "s are" : " is";
                    <span class="govuk-details__summary-text">@($"{addressesCount - 1} other location{sPlural} available")</span>
                  }
                </summary>
                <div class="govuk-details__text">
                  @foreach (var location in Model.ProviderAddresses!)
                  {
                    if (!isFirst)
                    {
                      <p>@($"{location.Display} - ") 
                        <a class="govuk-link" href="@location.MapLocationUrl">View on a map
                          <span class="govuk-visually-hidden">@location.Display</span>
                        </a>
                      </p>
                    }
                    isFirst = false;
                  }
                </div>
              </details>
            }
          </div>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Course details</h2>
          </div>
          
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Delivery method</dt>
                <dd class="govuk-summary-list__value">@Model.DeliveryModeDisplay</dd>
              </div>
              @if (Model.StartDates?.Count(s => !string.IsNullOrEmpty(s.Display))> 1)
              {
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Start dates</dt>
                  <dd class="govuk-summary-list__value">
                    @foreach (var startDate in Model.StartDates.Where(s => !string.IsNullOrEmpty(s.Display)))
                    {
                      <p>@startDate.Display</p>
                    }
                  </dd>
                </div>
              }
              else if (!string.IsNullOrEmpty(@Model.StartDates?.FirstOrDefault()?.Display))
              {
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Start date</dt>
                  <dd class="govuk-summary-list__value">
                    @(Model.StartDates?.FirstOrDefault()?.Display ?? SharedStrings.NotProvided)
                  </dd>
                </div>
              }

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Duration</dt>
                <dd class="govuk-summary-list__value">@Model.DurationDisplay</dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">@Model.HoursDisplay</dd>
              </div>

            </dl>
          </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.CourseUrl))
        {
          <govuk-button-link href="@(Model.CourseUrl)" is-start-button="false">Go to course</govuk-button-link>
        }
        else if(!string.IsNullOrEmpty(Model.ProviderUrl))
        {
          <govuk-button-link href="@(Model.ProviderUrl)" is-start-button="false">Go to course provider</govuk-button-link>
        }
        <p>The details we show you comes from the provider. There may be extra information on their website. You can also email or call them if you have any questions or want to discuss your options. </p>
      </div>
      
      <div class="govuk-grid-column-one-third local_top_border" >
        <div class="x-govuk-related-navigation">
          <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">

            <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Related links</h2>
            
            <ul class="x-govuk-related-navigation__link-list">
              <li class="x-govuk-related-navigation__link">
                <a class="govuk-link x-govuk-related-navigation__section-link" 
                   href="https://nationalcareers.service.gov.uk/explore-careers">Explore jobs and careers you could do after this course</a>
              </li>
              @*if (!string.IsNullOrEmpty(Model.CourseTypeDisplay))
              {
                <li class="x-govuk-related-navigation__link">
                  <a asp-page="#" class="govuk-link x-govuk-related-navigation__section-link">@($"More information about {Model.CourseTypeDisplay}")</a>
                </li>
              }*@
              <li class="x-govuk-related-navigation__link">
                <a asp-page="TrainingOptionsPages/TrainingOptions" class="govuk-link x-govuk-related-navigation__section-link">@($"More information about training options")</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
</div>

<style>
  .local_top_border{
    border-top: 2px solid #1d70b8;
    display: block;
  }
  
  .local_top_spacing{
    margin-top: -40px;
  }
</style>