@using feat.common.Extensions
@model feat.web.Models.ViewModels.SearchResult

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title">@Model.CourseTitle</h3>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" asp-page="/Course" asp-route-instanceid="@Model.InstanceId" id="course-@Model.InstanceId">
          View more details
          <span class="govuk-visually-hidden">about @(Model.CourseTitle)</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Provider</dt>
        <dd class="govuk-summary-list__value">@Model.ProviderName</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Location</dt>
        <dd class="govuk-summary-list__value">
          @if (Model.Distance == null)
          {
            @Model.LocationName.ValueOrNotProvided()
          }
          else
          {
            @(Model.LocationName.ValueOrNotProvided() + ", " + Model.DistanceDisplay)
          }
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Course type</dt>
        <dd class="govuk-summary-list__value">@Model.CourseTypeDisplay</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Requirements</dt>
        <dd class="govuk-summary-list__value">@Model.Requirements.ValueOrNotProvided()</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Overview</dt>
        <dd class="govuk-summary-list__value">
          @{
            var truncatedOverview = Model.Overview.TruncateString(out var remainderText);
            
            if (string.IsNullOrEmpty(remainderText))
            {
              <p>@Model.Overview</p>
            }
            else
            {
              <p>@truncatedOverview</p>

              <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details" id="details-@Model.InstanceId">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">Read more of the course overview <span class="govuk-visually-hidden">about @(Model.CourseTitle)</span></span>
                </summary>
                <div class="govuk-details__text">@remainderText</div>
              </details>
            }
          }
        </dd>
      </div>
    </dl>
  </div>
</div>

<style asp-add-nonce>
  .govuk-summary-card__title-wrapper {
    align-items: center;
  }
  
  .govuk-summary-card__action {
    white-space: nowrap;
  }
</style>